{% extends 'base.html' %}
{% block content %}
  <p class="hint">Upload a .txt file (max 1 MB). We'll scramble interior letters of words while preserving punctuation and spacing.</p>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <label for="id_file">Text file (.txt)</label>
    {{ form.file }}
    {% if form.file.errors %}
      <div class="message">{{ form.file.errors }}</div>
    {% endif %}
    <button type="submit">Scramble</button>
  </form>
{% endblock %}


